body{
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 0px;
    height: auto;
}

.container .box{
    width: 100px;
    height: 100px;
    margin: 15px;
    background-color:antiquewhite;
    font-size: 30px;
}

.btn{
  text-align: center;
  margin-top: 20px;
}
#reset{
    text-align: center;
    background-color: green;
    border: none;
    border-radius: 9px;
    color: #fff;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
    padding: 4px 30px;
}
.msg-container{
    display: flex;
    justify-content: center;
}

.msg{
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.hide{
    display: none;
}

